<footer class="text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-top-border"></div>
      </div>
    </div>
    <!-- Logo and Description -->
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4">
        <a class="footer-brand ms-auto" [routerLink]="'.'">
          <img src="../../../assets/images/logo.png" alt="Logo" height="60">
        </a>
        <p class="text-muted header-left-title pt-4">
          At Traverse, we're dedicated to guiding you on your unique journey. With our expertise and unwavering
          commitment to excellence, we offer a wide range of services to meet your needs.
        </p>
        <p class="text-muted">Get in touch with us.</p>
        <a href="#" class="text-white text-decoration-underline">LinkedIn</a>

      </div>

      <!-- Links Section -->
      <div class="col-lg-8 col-md-12">
        <div class="row">
          <!-- Contact Us -->
          <div class="col-sm-3 col-12">
            <h6 class="f-link-title fw-bold">Contact us</h6>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Careers</a></li>
              <li><a href="#" class="text-white">Schedule a call</a></li>
            </ul>
          </div>

          <!-- Resources -->
          <div class="col-sm-3 col-12">
            <h6 class="f-link-title fw-bold">Resources</h6>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Home</a></li>
              <li><a href="#" class="text-white">Products</a></li>
              <li><a href="#" class="text-white">About Us</a></li>
            </ul>
          </div>

          <!-- Solutions -->
          <div class="col-sm-3 col-12">
            <h6 class="f-link-title fw-bold">Solutions</h6>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Consulting</a></li>
              <li><a href="#" class="text-white">Services</a></li>
              <li><a href="#" class="text-white">Products</a></li>
            </ul>
          </div>

          <!-- Insights -->
          <div class="col-sm-3 col-12">
            <h6 class="f-link-title fw-bold">Insights</h6>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Blogs</a></li>
              <li><a href="#" class="text-white">Case Studies</a></li>
              <li><a href="#" class="text-white">Resources</a></li>
            </ul>
          </div>
        </div>


      </div>
    </div>
    <!-- Copyright Section -->

    <div class="row copy-container">
      <div class="col-lg-4 col-md-12 mb-2">
        <div class="border-top pt-5 mt-4">
        </div>
        <p class="text-muted copy-txt">
          Copyright &copy; 2023 Traverse
        </p>
      </div>
    </div>

    <div class="row privacy-container">
      <div class="col-lg-4 col-md-12 mb-4 decoration-none">
        <a href="#" class="text-muted">Privacy Policy</a> &nbsp;
        <a href="#" class="text-muted">Terms of Use</a> &nbsp;
        <a href="#" class="text-muted">Legal</a> &nbsp;
        <a href="#" class="text-muted">Site Map</a>
      </div>
      <div class="col-lg-8 col-md-12 text-end privacy-txt copy-txt privacy-max-width">
        <a href="#" class="text-muted">Privacy Policy</a> &nbsp;
      </div>
    </div>
  </div>
</footer>