<div class="container helping-business ">
    <div class="bg-dark11 py-lg-5">
        <div class="fs-4 pt-3 pt-lg-0 text-white text-start text-lg-center text-md-center ps-lg-0">
            Helping businesses be more productive
        </div>
        <div class="row justify-content-center image-container">
            <div class="col-4 col-md-4 col-lg-2 pt-lg-4 ">
                <img src="../../../assets/images/airbnb.png" class="img-fluid w-75 mx-auto d-block" alt="Airbnb Logo">
            </div>
            <div class="col-4 col-md-4 col-lg-2 pt-lg-4 ">
                <img src="../../../assets/images/google.png" class="img-fluid w-75 mx-auto d-block" alt="Google Logo">
            </div>
            <div class="col-4 col-md-4 col-lg-2 pt-lg-4 ">
                <img src="../../../assets/images/MashableLogo.png" class="img-fluid w-75 mx-auto d-block"
                    alt="Mashable Logo">
            </div>
            <div class="col-4 col-md-4 col-lg-2  pt-md-4 pt-4">
                <img src="../../../assets/images/nikeLogo.png" class="img-fluid w-75 mx-auto d-block" alt="Nike Logo">
            </div>
            <div class="col-4 col-md-4 col-lg-2  pt-md-4 pt-4">
                <img src="../../../assets/images/stripLogo.png" class="img-fluid w-75 mx-auto d-block"
                    alt="Stripe Logo">
            </div>
            <div class="col-4 col-md-4 col-lg-2  pt-md-4 pt-4">
                <img src="../../../assets/images/uberLogo.png" class="img-fluid w-75 mx-auto d-block" alt="Uber Logo">
            </div>
        </div>
    </div>
</div>