<div class="container mt-4 degital-revolution">
  <div class="row">
    <!-- First Column -->
    <div class="col-md-6 bg-dark111 text-white order-2 order-md-1">
      <div class="mb-3 main-heading">
        <div>Leading The <br /> Digital Resolution <br /> With Us</div>
      </div>
      <!-- Second Div: Description -->
      <div class="mb-3 title">
        <p>
          Empowering Business Evolution,<br /> Enabling Your Success
        </p>
      </div>
      <!-- Third Div: Buttons -->
      <div>
        <button class="btn btn-light me-2 service-btn">Our Services</button>
        <button class="btn btn-outline-light schedule-btn">
          <img src="../../../assets/images/calendar.png" alt="Logo" height="20">
          <span>
            Schedule Call
          </span>
        </button>
      </div>
    </div>
    <div class="col-md-1 order-3 order-md-2"></div>
    <!-- Second Column -->
    <div class="col-md-5 bg-dark111 text-white p-4 order-1 order-md-2">
      <div class="button-container">
        <!-- Button 1: Consulting -->
        <div class="consulting-btn-border mb-4"></div>
        <div>
          <button class="gradient-button consulting-btn">
            <span class="icon">
              <img src="../../../assets/images/calendar.png" alt="Consulting" height="20" />
            </span>
            <span class="text">Consulting</span>
          </button>
        </div>

        <div class="consulting-btn-border mb-4 mt-4"></div>

        <!-- Button 2: Services -->
        <div class="text-end">
          <button class="gradient-button services-btn pr-5">
            <span class="icon">
              <img src="../../../assets/images/calendar.png" alt="Services" height="20" />
            </span>
            <span class="text">Services</span>
          </button>
        </div>

        <div class="consulting-btn-border mb-4 mt-4"></div>

        <!-- Button 3: Products -->
        <div>
          <button class="gradient-button products-btn">
            <span class="icon">
              <img src="../../../assets/images/calendar.png" alt="Products" height="20" />
            </span>
            <span class="text">Products</span>
          </button>
        </div>

        <div class="consulting-btn-border mt-4"></div>

      </div>
    </div>
  </div>
</div>