<div class="container mt-4 our-word">
    <div class="row">
        <div class="col-md-9 mb-60">
            <h2 class="sm-heading-text">Testimonials</h2>
            <h5 class="heading-text">Don't take our word for it.</h5>
            <p class="title-text">Helping thousands of businesses to raise capital without having to jump through the
                hoops of traditional fundraising.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-60">
            <div class="our-word-top-img-container">
                <img src="../../../assets/images/our-word-top-img.png" alt="our-word" height="100%" width="100%" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-60">
            <p class="text-white">slider component here..</p>
        </div>
    </div>
</div>