<div class="container mt-4 story">
    <div class="row">
        <div class="col-md-9 mb-60">
            <h2 class="sm-heading-text">Case Studies</h2>
            <h5 class="heading-text">Tell your story with us</h5>
            <p class="title-text">Helping thousands of businesses to raise</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-60">
            <div class="menu-container">
                <img src="../../../assets/images/our-word-top-img.png" alt="our-word" height="100%" width="100%" />
            </div>
        </div>
    </div>
</div>